.banner
  .layout
    .title
      列表
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]
.layout
  .h20
  .widebox.left
    %table.styled
      %thead
        %tr
          %th
            标题
          %th
            状态
          %th
            管理
      %tbody
        - for channel in @channels
          %tr
            %td
              = link_to channel.name, channel_url(channel)
            %td
              = channel.tmp? ? "临时" : ""
            %td
              = link_to "编辑", edit_channel_url(channel)
      %tfoot
        %tr
          %td{:colspan => 3}
            = will_paginate @channels, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
  .siderbox.right
    = link_to raw("<strong>添加</strong>"), new_channel_url, :class => "add-link"
  .clearfix