= form_for(apply) do |f|
  %table.styled
    %tbody
      %tr
        %td
          资源
        %td
          = link_to apply.archetype.name, apply.archetype if apply.archetype.present?
      %tr
        %td
          理由
        %td
          = apply.content.html_safe
      %tr
        %td
          审核
        %td
          = f.select :passed, [['未通过', false], ['通过', true]]
      %tr
        %td
          
        %td
          - unless apply.new_record?
            .right
              = link_to "删除", apply_url(apply), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
          
          
            
