= form_for(activity_report) do |f|
  %table.styled
    %tbody
      %tr
        %td
          标题
        %td
          = f.text_field :title, :class => "input medium"
      %tr
        %td
          详情
        %td
          = f.text_area("content", :input_html => {:cols => 10, :rows => 20})
      %tr
        %td
          
        %td
          - unless activity_report.new_record?
            .right
              = link_to "删除", activity_report_url(activity_report), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
            
          
            
