.banner
  .layout
    .title
      活动管理
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  .h20
  .widebox.left
    %table.styled
      %thead
        %tr
          %th
            名称
          %th
            管理
      %tbody
        - for activity_report in @activity_reports
          %tr
            %td
              = link_to "#{activity_report.user.name}汇报的信息", activity_report_url(activity_report)
            %td
              = link_to "编辑", edit_activity_report_url(activity_report)
      %tfoot
        %tr
          %td{:colspan => 2}
            = will_paginate @activity_reports, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
          
  .siderbox.right
    .box.mb
      .content
        %ul
          %li= link_to "新活动审核", activity_reports_url
          %li= link_to "活动管理", activities_url
    

  .clearfix
