- content_for :header do
  :javascript
    function add_upload_file() {
      $('#upload_div').clone().insertBefore('.addmore');
    }

= form_for(article) do |f|
  %table.styled
    %tbody
      - if article.poster.present?
        %tr
          %td
            封面预览
          %td
            = link_to image_tag(article.poster.url(:small)), article.poster.url, :target => "_blank"
      %tr
        %td
          封面
        %td
          = f.file_field :poster
      - if article.photos.present?
        %tr
          %td
            图片预览
          %td
            %ul.img_list
              - for photo in article.photos
                %li
                  .del
                    = link_to image_tag("del.png"), del_pic_article_path(article, :pid => photo.id), :method => :post, :confirm => "确定删除吗？"
                  = image_tag(photo.file.url(:small), :width => 120, :height => 120)
              .clearfix
      %tr#upload_div
        %td
          图片
        %td
          = file_field_tag "photos[file][]"
      %tr.addmore
        %td

        %td
          = link_to("增加上传", js_void, :onclick => "add_upload_file();")
      
      
      %tr
        %td
          标签
        %td.grey
          = f.text_field :tag_list, :class => "input small"
          %small
            空格分隔

      %tr
        %td
          喜欢次数
        %td
          = f.text_field :likes_count, :class => "input small"
      %tr
        %td
          分享次数
        %td
          = f.text_field :shares_count, :class => "input small"
      %tr
        %td
          收藏次数
        %td
          = f.text_field :collections_count, :class => "input small"
      %tr
        %td
          评论数
        %td
          = f.text_field :comments_count, :class => "input small"

      %tr
        %td
          内容
        %td
          = f.text_area("content", :cols => 100, :rows => 20, :class => "textarea")
      %tr
        %td
          资源状态
        %td
          = f.select :state, [["屏蔽", 0], ["审核中", 1], ["白名单", 2], ["删除状态", 3]]
      %tr
        %td
          资源来源
        %td
          = f.select :source_type, [["用户添加", 0], ["管理员添加", 1], ["用户添加后审核通过", 2]]

      %tr
        %td
          
        %td
          - unless article.new_record?
            .right
              = link_to "删除", article_url(article), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
          
            
          
