.banner
  .layout
    .title
      列表
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]
.layout
  .h20
  .widebox.left
    %table.styled
      %thead
        %tr
          %th
            标题
          %th
            管理
      %tbody
        - for article in @articles
          %tr
            %td
              = link_to article.title, article_url(article)
            %td
              = link_to "编辑", edit_article_url(article)
      %tfoot
        %tr
          %td{:colspan => 2}
            = will_paginate @articles, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
  .siderbox.right
    .mb
      = link_to raw("<strong>添加</strong>"), new_article_url, :class => "add-link"
    .box.mb
      .title
        分类
      .content
        %ul.category_list
          - for cat in Category.order("position")
            %li
              = link_to cat.name, edit_category_path(cat)
          %li= link_to "添加分类", new_category_path, :class => "add-link2"
    .box.mb
      .title
        地区
      .content
        %ul.category_list
          - for area in Area.order("position")
            %li
              = link_to area.name, edit_area_path(area)
          %li= link_to "添加分类", new_area_path, :class => "add-link2"
    
  .clearfix