.banner
  .layout
    .title
      用户管理
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]
.layout
  .h20
    = nbsp
  .widebox.left
    %table.styled
      %thead
        %tr
          %th
            登录账号
          %th
            用户名
          %th
            状态
          %th
            管理
      %tbody
        - for user in @users
          %tr
            %td
              = link_to user.email, user_url(user)
            %td
              = user.name
            %td
              = user.site_upgrade_state if user.upgrade_state == 1
            %td
              = link_to "编辑", edit_user_url(user)
      %tfoot
        %tr
          %td{:colspan => 4}
            = will_paginate @users, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
          
  .siderbox.right
    = link_to raw("<strong>添加</strong>"), new_user_url, :class => "add-link"
  .clearfix
          