.banner
  .layout
    .title
      列表
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  .h20
  .widebox.left
    .infoboxs
      - for channel in Channel.order('position asc')
        .box
          .boxtitle
            = channel.name
          .boxcontent
            %table.tiny
              %tr
                %td
                  当前
                  = channel.name
                %td
                  = link_to channel.archetypes.count, channel_url(channel)
                  个
              %tr
                %td
                  当前
                  = channel.name
                  文章
                %td
                  = link_to channel.articles.count, articles_channel_url(channel)
                  篇

      .clearfix
          
  .siderbox.right
    .mb
      = link_to raw("<strong>添加</strong>"), new_archetype_url(:archetype_id => params[:fromid]), :class => "add-link"
    
  .clearfix
