.banner
  .layout
    .title
      列表
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  .h20
  .widebox.left
    .infoboxs
      - for channel in Channel.order('position asc')
        .box
          .boxtitle
            = channel.name
          .boxcontent
            %table.tiny
              %tr
                %td
                  当前
                  = channel.name
                %td
                  = link_to channel.archetypes.count, channel_url(channel)
                  个
              %tr
                %td
                  当前
                  = channel.name
                  文章
                %td
                  = link_to channel.articles.count, articles_channel_url(channel)
                  篇

      .clearfix
          
  .siderbox.right
    .mb
      = link_to raw("<strong>添加</strong>"), new_archetype_url, :class => "add-link"
    .box.mb
      .content
        %ul
          %li= link_to "认领审核", archetype_applies_url
          %li= link_to "原型管理", archetypes_url
    .box.mb
      .title
        频道
      .content
        %ul.category_list
          - for cha in Channel.order("position")
            %li
              = link_to cha.name, edit_channel_path(cha)
          %li= link_to "添加频道", new_channel_path, :class => "add-link2"    
    .box.mb
      .title
        分类
      .content
        %ul.category_list
          - for cat in Category.order("position")
            %li
              = link_to cat.name, edit_category_path(cat)
          %li= link_to "添加分类", new_category_path, :class => "add-link2"
    .box.mb
      .title
        商圈
      .content
        %ul.category_list
          - for area in Area.order("position")
            %li
              = link_to area.name, edit_area_path(area)
          %li= link_to "添加分类", new_area_path, :class => "add-link2"
    
  .clearfix
