.banner
  .layout
    .title
      查看
.layout
  .h20
  %table.styled
    %thead
      %tr
        %th
          
        %th
          
    %tbody
      %tr
        %td{:width => "10%"}
          所属
        %td
          - if @coupon.archetype.present?
            = link_to @coupon.archetype.name, @coupon.archetype, :target => "_blank"
      %tr
        %td
          日期说明
        %td
          = @coupon.dateintro
      %tr
        %td
          介绍
        %td
          = simple_format(@coupon.content.html_safe)

    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", coupon_url(@coupon), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_coupon_url(@coupon)
          
