= form_for(company) do |f|
  %table.styled
    %tbody
      %tr
        %td
          商家类型
        %td
          = f.select :company_type, SITE_SETTINGS['company_type']
      %tr
        %td
          标题
        %td
          = f.text_field :title, :class => "input medium"
      %tr
        %td
          别名
        %td
          = f.text_field :other_title, :class => "input medium"
      %tr
        %td
          地址
        %td
          = f.text_field :address, :class => "input medium"
      %tr
        %td
          电话
        %td
          = f.text_field :telphone, :class => "input medium"
      %tr
        %td
          营业时间
        %td
          = f.text_field :office_time, :class => "input medium"
      %tr
        %td
          公交信息
        %td
          = f.text_field :bus_info, :class => "input medium"
      %tr
        %td
          网站
        %td
          = f.text_field :website, :class => "input medium"
      %tr
        %td
          介绍
        %td
          = f.cktext_area("content", :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Basic')
      %tr
        %td
          
        %td
          - unless company.new_record?
            .right
              = link_to "删除", company_url(company), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
          = link_to "返回", :back
            
          
            
