.banner
  .layout
    .title
      查看商家
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  %table.styled
    %tbody
      %tr
        %td{:width => "20%"}
          标题
        %td
          = @company.title
      %tr
        %td
          分类
        %td
          = @company.company_category
      %tr
        %td
          地区
        %td
          = @company.company_area
      %tr
        %td
          别名
        %td
          = @company.other_title
      %tr
        %td
          地址
        %td
          = @company.address
      %tr
        %td
          电话
        %td
          = @company.telphone
      %tr
        %td
          营业时间
        %td
          = @company.office_time
      %tr
        %td
          公交信息
        %td
          = @company.bus_info
      %tr
        %td
          标签
        %td
          - for tag in @company.tag_list
            = tag
      %tr
        %td
          介绍
        %td
          = raw(@company.content)
    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", company_url(@company), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_company_url(@company)
          
