.banner
  .layout
    .title
      列表
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]
.layout
  .h20
  .widebox.left
    %table.styled
      %thead
        %tr
          %th
            标题
          %th
            管理
      %tbody
        - for article in @articles
          %tr
            %td{:width => '80%'}
              = link_to article.content.truncate(100, :omission => "..."), article_url(article)
            %td
              = link_to "编辑", edit_article_url(article)
      %tfoot
        %tr
          %td{:colspan => 2}
            = will_paginate @articles, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
  .siderbox.right
    .mb
      = link_to raw("<strong>添加</strong>"), new_article_url(:from => "area", :fromid => @area.id), :class => "add-link"
    .box.mb
      .title
        频道
      .content
        %ul.category_list
          - for cha in Channel.order("position")
            %li
              = link_to cha.name, edit_channel_path(cha)
          %li= link_to "添加频道", new_channel_path, :class => "add-link2"    

    
  .clearfix
