.banner
  .layout
    .title
      列表
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  .h20
  .widebox.left
    .infoboxs
      - for area in @areas
        .box
          .boxtitle
            = area.name
          .boxcontent
            %table.tiny
              %tr
                %td
                  当前
                  = area.name
                %td
                  = link_to area.archetypes.count, archetypes_area_url(area)
                  个
              %tr
                %td
                  当前
                  = area.name
                  文章
                %td
                  = link_to area.articles.count, articles_area_url(area)
                  篇

      .clearfix
          
  .siderbox.right
    .box.mb
      .content
        %ul
          %li= link_to "认领审核", applies_url(:from => "areas")
          %li= link_to "用户线报", areas_reports_url
    .box.mb
      .title
        商圈
      .content
        %ul.area_list
          - for area in Area.order("position")
            %li
              = link_to area.name, edit_area_path(area)
          %li= link_to "添加商圈", new_area_path, :class => "add-link2"    
    
  .clearfix
