.banner
  .layout
    .title
      查看活动
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  %table.styled
    %tbody
      %tr
        %td{:width => "20%"}
          标题
        %td
          = @item.title
      %tr
        %td
          价格
        %td
          = @item.price
          元
      %tr
        %td
          品牌
        %td
          = @item.brand.title if @item.brand_id.present?
      %tr
        %td
          
        %td
          喜欢
          = @item.likes_count
          次
      %tr
        %td
          海报
        %td
          = image_tag(@item.poster.url)
    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", item_url(@item), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_item_url(@item)
          
