= form_for(article, :url => brands_path, :method => (article.new_record? ? :post : :update )) do |f|
  = f.hidden_field :article_type
  %table.styled
    %tbody
      %tr
        %td
          标题
        %td
          = f.text_field :title, :class => "input fullwidth"
      - if article.poster.present?
        %tr
          %td
            封面预览
          %td
            = image_tag article.poster.url
      %tr
        %td
          封面
        %td
          = f.file_field :poster
      %tr
        %td
          标签
        %td.grey
          = f.text_field :tag_list, :class => "input medium"
          %small
            中文逗号分隔
      %tr
        %td
          内容
        %td
          = f.cktext_area("content", :input_html => {:cols => 10, :rows => 20}, :toolbar => 'Basic')
      %tr
        %td
          资源类型
        %td
          = f.select :resource_type, [0, 1, 2, 3]
          %span
            0：屏蔽，1：审核，2：白名单，3：删除状态

      %tr
        %td
          
        %td
          - unless article.new_record?
            .right
              = link_to "删除", article_url(article), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
          = link_to "返回", :back
            
          
            
