= form_for(brand) do |f|
  %table.styled
    %tbody
      %tr
        %td
          名称
        %td
          = f.text_field :name, :class => "input"
      - if brand.logo.present?
        %tr
          %td
            Logo预览
          %td
            = image_tag brand.logo.url
      %tr
        %td
          Logo
        %td
          = f.file_field :logo
      %tr
        %td
          所属频道
        %td
          = f.select :channel_id, Channel.order('position asc').map{|ch| [ch.name, ch.id]}
      %tr
        %td
          资源类型
        %td
          = f.select :tmp, [["临时", true], ["正式", false]]
          %span
            0：屏蔽，1：审核，2：白名单，3：删除状态
      %tr
        %td
          关联用户
        %td
          %ul
            - for user in User.all
              %li
                = check_box_tag "user_id[]", user.id, brand.users.include?(user)
                = user.name

      %tr
        %td
          
        %td
          - unless brand.new_record?
            .right
              = link_to "删除", brand_url(brand), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
            
          
            
