.banner
  .layout
    .title
      查看
.layout
  .h20
  %table.styled
    %thead
      %tr
        %th
          
        %th
          
    %tbody
      %tr
        %td{:width => "10%"}
          标题
        %td
          = @article.title
      %tr
        %td
          封面
        %td
          = image_tag @article.poster.url
      - if @article.photos.present?
        %tr
          %td
            图片
          %td
            - for photo in @article.photos
              = image_tag(photo.file.url(:small))
      - if @article.code.present?
        %tr
          %td
            视频
          %td
            = flashplayer(@article.code)
      %tr
        %td
          标签
        %td
          - for tag in @article.tag_list
            = tag
      %tr
        %td
          内容
        %td
          = @article.content.html_safe
    %tfoot
      %tr
        %td{:colspan => 3}
          .right
            = link_to "删除", brand_url(@article), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_brand_url(@article)
          
