.banner
  .layout
    .title
      查看
.layout
  .h20
  %table.styled
    %thead
      %tr
        %th
          
        %th
          
    %tbody
      %tr
        %td{:width => "10%"}
          标题
        %td
          = @brand.name
          - if @brand.tmp?
            %span.grey
              临时
          
      %tr
        %td
          Logo
        %td
          = image_tag @brand.logo.url
      %tr
        %td
          用户
        %td
          %ul
            - for user in @brand.users
              %li= user.name
    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", brand_url(@brand), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_brand_url(@brand)
          
