.banner
  .layout
    .title
      列表
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  .h20
  .widebox.left
    .infoboxs
      - for category in @categories
        .box
          .boxtitle
            = category.name
          .boxcontent
            %table.tiny
              %tr
                %td
                  当前
                  = category.name
                %td
                  = link_to category.archetypes.count, archetypes_category_url(category)
                  个
              %tr
                %td
                  当前
                  = category.name
                  文章
                %td
                  = link_to category.articles.count, articles_category_url(category)
                  篇

      .clearfix
          
  .siderbox.right
    .box.mb
      .content
        %ul
          %li= link_to "认领审核", archetype_applies_url
          %li= link_to "用户线报", categories_reports_url
    .box.mb
      .title
        分类
      .content
        %ul.category_list
          - for cat in Category.order("position")
            %li
              = link_to cat.name, edit_category_path(cat)
          %li= link_to "添加分类", new_category_path, :class => "add-link2"    
    
  .clearfix
