= form_for(activity) do |f|
  %table.styled
    %tbody
      %tr
        %td
          标题
        %td
          = f.text_field :title, :class => "input medium"
      %tr
        %td
          推荐描述
        %td
          = f.text_field :summary, :class => "input medium"
      %tr
        %td
          活动时间
        %td
          = f.text_field :opening_date, :class => "input medium"
      %tr
        %td
          状态
        %td
          = f.select :status, [["新增审核", 0], ["进行中", 1], ["活动结束", 2]]
      %tr
        %td
          
        %td
          = f.check_box :suggest
          = label_tag(:activity_suggest, "是否显示在首页近期活动中（仅三位）")
      %tr
        %td
          
        %td
          = f.check_box :top
          = label_tag(:activity_top, "是否设为首页每周活动（仅一位）")
      %tr
        %td
          分享次数
        %td
          = f.text_field :shares_count, :class => "input small"
      %tr
        %td
          详情
        %td
          = f.text_area("content", :cols => 60, :rows => 20)
      %tr
        %td
          Logo
        %td
          - unless activity.new_record?
            = image_tag(activity.logo.url)
            %br
          = f.file_field :logo
          60x60 px
      %tr
        %td
          横幅海报
        %td
          - unless activity.new_record?
            = image_tag(activity.poster.url(:middle))
            %br
          = f.file_field :poster
          950x300 px
      %tr
        %td
          
        %td
          - unless activity.new_record?
            .right
              = link_to "删除", activity_url(activity), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
          
          
            
