.banner
  .layout
    .title
      活动管理
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  .h20
  .widebox.left
    %table.styled
      %thead
        %tr
          %th
            名称
          %th
            管理
      %tbody
        - for activity in @activities
          %tr
            %td
              = link_to activity.title, activity_url(activity)
            %td
              = link_to "编辑", edit_activity_url(activity)
      %tfoot
        %tr
          %td{:colspan => 2}
            = will_paginate @activities, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
          
  .siderbox.right
    .mb
      = link_to raw("<strong>添加</strong>"), new_activity_url, :class => "add-link"
    .box.mb
      .content
        %ul
          %li= link_to "线报管理", reports_url


  .clearfix
