.banner
  .layout
    .title
      查看活动
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  %table.styled
    %tbody
      %tr
        %td{:width => "20%"}
          标题
        %td
          = @activity.title
      %tr
        %td
          分类
        %td
          = @activity.activity_category
      %tr
        %td
          地区
        %td
          = @activity.activity_area
      %tr
        %td
          活动时间
        %td
          = @activity.schedule
      %tr
        %td
          活动商场
        %td
          = @activity.place
      %tr
        %td
          地址
        %td
          = @activity.address
      %tr
        %td
          电话
        %td
          = @activity.telphone
      %tr
        %td
          营业时间
        %td
          = @activity.office_time
      %tr
        %td
          公交信息
        %td
          = @activity.bus_info
      %tr
        %td
          标签
        %td
          - for tag in @activity.tag_list
            = tag
      %tr
        %td
          详情
        %td
          = @activity.content.html_safe
      %tr
        %td
          海报
        %td
          = image_tag(@activity.poster.url)
    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", activity_url(@activity), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_activity_url(@activity)
          
