.banner
  .layout
    .title
      查看活动
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  %table.styled
    %tbody
      %tr
        %td{:width => "20%"}
          标题
        %td
          = @activity.title
      %tr
        %td
          时间
        %td
          = @activity.time
      %tr
        %td
          地址
        %td
          = @activity.address
      %tr
        %td
          电话
        %td
          = @activity.telphone
      %tr
        %td
          详情
        %td
          = html_escape(raw(@activity.content))
    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", activity_url(@activity), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_activity_url(@activity)
          
