- content_for :header do
  - if @activity.has_map?
    = javascript_include_tag "http://api.51ditu.com/js/maps.js"
    = javascript_include_tag "http://api.51ditu.com/js/search.js"

.banner
  .layout
    .title
      查看活动
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  %table.styled
    %tbody
      %tr
        %td{:width => "20%"}
          所属资源
        %td
          = link_to @activity.archetype.name, @activity.archetype, :target => "_blank"
      %tr
        %td
          标题
        %td
          = @activity.title
      %tr
        %td
          详情
        %td
          = @activity.content.html_safe
      %tr
        %td
          海报
        %td
          = image_tag(@activity.poster.url)
      %tr
        %td
          地图
        %td
          - if @activity.has_map?
            #map{:style => "width:600px;height:400px"}
            :javascript
              map=new LTMaps("map");
              map.addControl(new LTStandMapControl());
              var point=new LTPoint(#{@activity.longitude.to_i}, #{@activity.latitude.to_i});
              map.centerAndZoom(point,1); 
              var marker=new LTMarker(point);
              map.addOverLay(marker);


    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", activity_url(@activity), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_activity_url(@activity)
          
